.gs{
    display:inline-block;
    margin-top: 675px;
    margin-bottom: 40px;
}

.gs_statement p{
    display: flex;
    color: black;
    font-size: 30px;
    font-weight: 100%;
}

.gs_buttons{
    display: flex;
    margin-top: 40px;
    margin-left: 400px;
}

.gs_button1 button{
    padding:15px;
    border: none;
    border-radius: 22px;
    background-color: red;
    color: white;
    font-size: 30px;
}

.gs_button2 button{
    padding: 15px;
    border: none;
    border-radius: 15px;
    background-color: white;
    color: black;
    font-size: 30px;
    margin-left: 200px;
}